<ion-header>
 <ion-toolbar color="dark">
   <ion-buttons slot="start">
     <ion-back-button defaulthref="/tabs/episodes"></ion-back-button>
   </ion-buttons>
   <ion-title>{{ episode?.title }}</ion-title>
 </ion-toolbar>
</ion-header>
<ion-content >

<ion-card *ngIf="episode">

<ion-card-title>
        {{ episode.title }}
 </ion-card-title>

 <ion-item lines="none" >
        <ion-card-title slot="start">Air Date</ion-card-title>
        <ion-label text-wrap>{{ episode.air_date }}</ion-label>
</ion-item>


</ion-card>

</ion-content>
